.footer {
    background-color: #f1f1f1;
    padding: 20px 0;
    width: 100%;
    bottom: 0;
    position: fixed; /* Entkommentieren Sie diese Zeile, um den Footer am unteren Rand zu fixieren */
}

.footer-content {
    text-align: center;
    margin-bottom: 10px;
}

.footer-bottom {
    text-align: center;
    font-size: 14px;
    color: #555;
}

.footer-bottom span {
    font-weight: bold;
    color: #000;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Mindestens die Höhe des Viewports */
}

.content {
    flex: 1; /* Nimmt den verfügbaren Platz ein */
}
