.footer {
    background-color: #f1f1f1;
    padding: 20px 0;
    width: 100%;
    bottom: 0;
    position: fixed;
}

.footer-content {
    text-align: center;
    margin-bottom: 10px;
}

.footer-bottom p {
    margin: 0;
}

.footer-bottom a {
    color: #6c757d;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}

.footer-bottom a:hover {

}

.footer-bottom span {
    font-weight: bold;
}

.footer-bottom a:first-of-type::before {
    content: '';
}